@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');

#page-animate::before {
  content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F6ADC6;
  z-index: 9999;
  pointer-events: none;
  right: 100%;
  -webkit-transition: right 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: right 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
 
#page-animate::after {
  content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F6ADC6;
  z-index: 9999;
  pointer-events: none;
  left: 100%;
  -webkit-transition: left 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
 
#page-animate.is-slide-in::before {
  right: 0;
}
 
#page-animate.is-slide::after {
  left: 0;
}

html {
  min-height: 100Vh;
  scroll-padding-top: 3rem;
}

body {
  min-height: 100Vh;
  font-family: 'M PLUS Rounded 1c', serif !important;
}

button {
  font-family: 'M PLUS Rounded 1c', serif !important;
}

.fullheight {
  min-height: 100Vh;
}

.header-inner {
  background-color: #F172A3;
}

.title {
  color: #FFF;
  text-decoration: none;
  font-size: 40px;
}

.title:hover {
  color: #6C757D;
}

.bg {
  background-image: url(/images/bg_image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
